#ignore work files
apache-tomcat-10.1.5/work/
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/search_jsp.java
apache-tomcat-10.1.5/logs/localhost.2023-03-08.log
apache-tomcat-10.1.5/logs/localhost_access_log.2023-03-08.txt
apache-tomcat-10.1.5/logs/catalina.2023-03-08.log
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/cpu_jsp.class
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/cpu_jsp.java
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/index_jsp.class
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/index_jsp.java
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/viewListing_jsp.java
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/cases_jsp.class
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/cases_jsp.java
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/cpu_jsp.class
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/cpu_jsp.java
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/gpu_jsp.class
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/gpu_jsp.java
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/index_jsp.class
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/index_jsp.java
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/motherboards_jsp.class
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/motherboards_jsp.java
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/ram_jsp.class
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/ram_jsp.java
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/viewListing_jsp.class
apache-tomcat-10.1.5/work/Catalina/localhost/OldEgg/org/apache/jsp/viewListing_jsp.java
